force-app/main/default/flows/Create_Event_Attendee_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Check_if_Event_end_date_time_is_not_empty</name>
        <label>Check if Event end date/time is not empty</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Update_Attendee_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_attendee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Event__r.End_Date_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Attendee_Last_Even_Date</targetReference>
            </connector>
            <label>Update attendee</label>
        </rules>
    </decisions>
    <interviewLabel>Create Event Attendee flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Event Attendee Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Attendee_Last_Even_Date</name>
        <label>Update Attendee Last Even Date</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Update_Attendee_Status</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Last_Event_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.Event__r.End_Date_Time__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Last_Event_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Event_Date__c</field>
            <value>
                <elementReference>$Record.Event__r.End_Date_Time__c</elementReference>
            </value>
        </inputAssignments>
        <object>Attendee__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Set the status to Active if the Attendee is New or Inactive</description>
        <name>Update_Attendee_Status</name>
        <label>Update Attendee Status</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New [Default]</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>Attendee__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_Event_end_date_time_is_not_empty</targetReference>
        </connector>
        <object>Event_Attendee__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>empty_Data</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
